---
import Cta from "./Cta_S.astro"
---

<header>
    <h1>The chat app where <span>you</span> are the <span>main character</span>.</h1>
    <Cta />
</header>
<style lang="scss">
    header {
        padding-top: 10rem;

        h1 {
            text-align: center;

            span {
                color: var(--colour-ultra-pink);
            }
        }
    }
</style>
